{template 'common/header'}
<ul class="nav nav-tabs">
  <li><a href="{$config_link}">配置中心</a></li>

<li ><a href="{$class_link}">分类管理</a></li>
<li ><a href="{$aiimg_link}">AI图片</a></li>
<li ><a href="{$baidu_link}">百度接口</a></li>
<li ><a href="{$huoshan_link}">火山接口</a></li>

<li ><a href="{$swiper_link}">轮播管理</a></li>
<li ><a href="{$tab_link}">导航管理</a></li>
<li ><a href="{$user_link}">用户管理</a></li>

</ul>

<div class="panel panel-default">
	
	<div class="panel-body">
    <div role="form" >
      <input type="hidden" id="idd"  value="{$idd}">
      <div class="form-group">
        <label for="firstname" class="col-sm-2 control-label">福利名称</label>
        <div class="col-sm-10">
          <input type="text" id="name" class="form-control" value="{$config_db['name']}">
        </div>
      </div>
<div style="margin-bottom:15px;clear:left"></div>
	    <div class="form-group">
        <label for="firstname" class="col-sm-2 control-label">appid</label>
        <div class="col-sm-10">
          <input type="text" id="appid" class="form-control" value="{$config_db['appid']}">
        </div>
      </div><div style="margin-bottom:15px;clear:left"></div>

	   <div class="form-group">
        <label for="firstname" class="col-sm-2 control-label">小程序路径</label>
        <div class="col-sm-10">
          <input type="text" id="mainpage" class="form-control" value="{$config_db['mainpage']}">
        </div>
      </div>

<div style="margin-bottom:15px;clear:left"></div>

   <div class="form-group">
	  <label for="firstname" class="col-sm-2 control-label">排序</label>
        <div class="col-sm-10">
          <input type="text" id="pos" class="form-control" value="{$config_db['pos']}">
        </div>
      </div>

<div style="margin-bottom:15px;clear:left"></div>

	    <div class="form-group">
        <label for="firstname" class="col-sm-2 control-label">推广图片</label>

        <div class="col-sm-10">
            <div class="mui-input-cell"> {php echo tpl_form_field_image('imgpath',$imgpath,$imgpath_view)} </div>
        </div>
      </div>
<div style="margin-bottom:15px;clear:left"></div>

	   <div class="form-group">
        <label for="firstname" class="col-sm-2 control-label">操作</label>
        <div class="col-sm-10">
          <button  class="btn btn-primary btn-lg"  onClick="add()">提交</button>
        </div>
      </div>
	  </div>

</div>


</div>
	<!--内容-->
		<table class="table table-hover">
	
	<thead>
		<tr>
			<th>编号</th>
			<th>名称</th>
            <th>排序</th>
            <th>图片</th>
			<th>编辑</th>
		</tr>
	</thead>
	<tbody>
		{loop $applist $index $itme}
		<tr>
			<td>{$itme['id']}</td>
			<td>{$itme['name']}</td>
			<td>{$itme['pos']}</td>
		<td><img src="{$picpath_root}{$itme['imgpath']}" style="width:100px; height:auto"></td>
			<td>
			<button  class="btn btn-primary"  onClick="edit({$itme['id']})">编辑</button>
			<button  class="btn btn-danger" onClick="del({$itme['id']})">删除</button>
			
			</td>
		</tr>
		{/loop}
	</tbody>
</table>
{template 'common/footer'}


<script>
	require(['../../../addons/xz_aipt/template/libs/com.js?r={php echo mt_rand(1000,1000000)}'])


	function del(idd){
		
 if(window.confirm('你确定？')){
        //继续执行
    }else{
		
return;
    }
$.post("{php echo $this->createWebUrl('card')}", {
			
			type:'del',
			id:idd

		},function (data) {
			
				 var obj = JSON.parse(data);
				 	 if(obj['res']==1){
alertf('删除成功','提醒',function(){window.location.href="{php echo $this->createWebUrl('card')}" })
				 }else{
				   window.alertf(obj['res'])
				 }
				

	})
return;

	}



	function add(){

$.post("{php echo $this->createWebUrl('card')}", {
			
			type:'add',
			id: $('#idd').val(),
			name: $('#name').val(),
			appid: $('#appid').val(),
			about: $('#about').val(),

			mainpage: $('#mainpage').val(),
			pos: $('#pos').val(),
			imgpath: $('input[name="imgpath"]').val(),

		},function (data) {
			
				 var obj = JSON.parse(data);
				 	 if(obj['res']==1){
alertf('操作成功','提醒',function(){window.location.href="{php echo $this->createWebUrl('card')}" })
				 }else{
				   window.alertf(obj['res'])
				 }
				

	})
return;

	}

	function edit(idd){

		window.location.href="{php echo $this->createWebUrl('card')}"+"&type=edit&id="+idd	

	}
	
</script>




