{template 'common/header'}

<ul class="nav nav-tabs">

<li  class="active"><a href="#">图片列表</a></li>

</ul>


<div class="panel-body" style="display:none">
    <div role="form" >
      <input type="hidden" id="idd"  value="{$idd}">
      <div class="form-group" style="height:30px">
        <label for="firstname" class="col-sm-2 control-label">选择分类</label>
        <div class="col-sm-10">
      
<select id="classid">



{loop $classlist $index $itme}
  <option value ="{$itme['id']}">{$itme['name']}</option>
{/loop}
</select>

        </div>
      </div>

	  <div class="form-group" style="height:30px">
        <label for="firstname" class="col-sm-2 control-label">排序</label>
        <div class="col-sm-10">
          <input type="text" id="pos" class="form-control" value="{$config_db['pos']}">
        </div>
      </div>

	    <div class="form-group">
        <label for="firstname" class="col-sm-2 control-label">选择图片</label>
        <div class="col-sm-10">
            <div class="mui-input-cell"> {php echo tpl_form_field_image('s_pic',$s_pic,$s_pic_view)} </div>
			建议宽度750.图片质量60
        </div>
      </div>

 <div class="form-group" style="height:10rpx"></div>
	   <div class="form-group">
        <label for="firstname" class="col-sm-2 control-label">操作</label>
        <div class="col-sm-10">
          <button  class="btn btn-primary"  onClick="add()">提交</button>
        </div>
      </div>
	  </div>
</div>


<div class="panel panel-default" style="margin-top: 30px;">
	<div class="panel-heading">
		<h2 class="panel-title">
			管理
		</h2>
	</div>
	<div class="panel-body">
		<!--内容-->
		<table class="table table-hover">
	
	<thead>
		<tr>
			<th>选择</th>
			<th>id</th>
			<th>图片</th>
			<th>分类</th>
	
            <th>显示</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>

		{loop $list $index $itme} 

		<tr >
			<td><input type="checkbox"  name="del" value="{$itme['id']}" style="width:26px;height:26px" /></td>
			<td>{$itme['id']}</td>

			<td><img src="{$root_path}{$itme['imgpath']}" style="width:100px; height:auto"></td>
            <td>{$itme['classname']}</td>

			<td ><select id="hid{$itme['id']}"  data-toggle="tooltip" data-placement="top" onchange="setapi({$itme['id']},'hid')">
  <option value ="0" {if $itme['hid']!=1}selected{/if}>显示</option>
  <option value ="1" {if $itme['hid']==1}selected{/if}>隐藏</option>

</select></td>
 
<td><button type="button" class="btn btn-primary" style="margin:30px auto;margin-top:0px;margin-right:20rpx;float:left" onClick="select_all()">编辑</button></td>

		</tr>
		{/loop}
	</tbody>
</table>
<button type="button" class="btn btn-primary" style="margin:30px auto;margin-top:0px;margin-right:20rpx;float:left" onClick="select_all()">全选</button>
<button type="button" class="btn btn-primary" style="margin:30px auto;margin-top:0px;;float:left" onClick="del()">批量删除</button>


<input type="text" id="pagenum" class="form-control" value="" placeholder="每页显示多少条" style=";width:200px;float:left">

<button type="button" class="btn btn-primary" style="margin:30px auto;margin-top:0px;float:left" onClick="setpagenum()">更改</button>

	{$pager}
	</div>
</div>

{template 'common/footer'}

<script>
	require(['../../../addons/xz_aipt/template/libs/com.js?r={php echo mt_rand(1000,1000000)}'])

	function hid(id){
	$("#show"+id).css('display','none')
	$("#hid"+id).css('display','none')	

$.post("{php echo $this->createWebUrl('visible')}", {

			type:'hid',
			id: id
			
		},function (data) {
			
				 var obj = JSON.parse(data);
				 	 if(obj['res']==1){
alertf('操作成功','提醒')
				 }else{
				   window.alertf(obj['res'])
				 }

	})
return;

	}

	function show(id){

	$("#show"+id).css('display','none')
	$("#hid"+id).css('display','none')

$.post("{php echo $this->createWebUrl('visible')}", {

			type:'show',
			id: id
			
		},function (data) {
			
				 var obj = JSON.parse(data);
				 	 if(obj['res']==1){

alertf('操作成功','提醒')
				 }else{
				   window.alertf(obj['res'])
				 }
				

	})
return;

	}



function showPopover(target, msg) {
	
    target.attr("data-original-title", msg);
    $('[data-toggle="tooltip"]').tooltip();
    target.tooltip('show');
    target.focus();

    //2秒后消失提示框
    var id = setTimeout(
        function () {
            target.attr("data-original-title", "");
            target.tooltip('hide');
        }, 2000
    );
}

function setapi(idd,type){


$.post("{php echo $this->createWebUrl('setapi')}", {

            type:type,
			val:$("#"+type+idd).val(),
			id: idd
			
		},function (data) {
			
				 var obj = JSON.parse(data);
				 	 if(obj['res']==1){

            showPopover($("#"+type+idd),"操作成功")

				 }
				

	})


return;


	

}

function del(){
	
	if(window.confirm('确认删除吗？')){
	                 //alert("确定");

					 delfun();
					 
	                 return true;
	              }else{
	                 //alert("取消");
	                 return false;
	             }
	

	function delfun(){
		
		var obj=document.getElementsByName('del');
		    var str = ''; 
		    for(var i=0; i<obj.length; i++){ 
		    if(obj[i].checked) str+=obj[i].value+'|'; 
		}
		
		$.post("{php echo $this->createWebUrl('setapi')}", {
		
		            type:'del',
					list:str
					
				},function (data) {
					
						 var obj = JSON.parse(data);
						 	 if(obj['res']==1){
		
		            alertf('操作成功','提醒',function(){location.reload(); })
		
						 }
						
		
			})
		
	}
	
	
	
}


function select_all(){
	
    var cks =document.getElementsByName("del");
 //实现点击全选按钮，小按钮的状态跟着全选按钮变化
 
    for (var i = 0; i < cks.length; i++) {
      cks[i].checked=true;
    }

}


function edit(idd){
	
window.location.href="{php echo $this->createWebUrl('addpic')}"+"&idd="+idd;

}

function setpagenum(){
	window.location.href=window.location.href+'&pagenum='+$('#pagenum').val();
	;

}
//setTimeout(function(){showPopover($("#name8"),"操作成功");},1000)
function setans(idd){
window.location.href="{php echo $this->createWebUrl('Gameanslist')}"+"&gameidd="+idd;
}

function add(){


if($("#classid").val()==''){
	alertf('请先添加分类','提醒')
	return;
}

var imgpath=$("input[name='s_pic']").val();



if(imgpath==''){

alertf('没有选择任何图片','提醒')
	return;
}

if($("#classid").val()==0){
	alertf('请选择分类','提醒')
	return;

}

$.post("{php echo $this->createWebUrl('Imglist')}", {
			
			type:'add',
			classid:$("#classid").val(),
			imgpath: imgpath

		},function (data) {
			
				 var obj = JSON.parse(data);
				 	 if(obj['res']==1){
alertf('操作成功,返回列表查看，或继续添加','提醒',function(){location.reload() })
				 }else{
				   window.alertf(obj['res'])
				 }

	})
return;

	}


</script>
