{template 'common/header'}

<ul class="nav nav-tabs">
<li ><a href="{$config_link}">配置中心</a></li>
<li  class="active"><a href="{$pro_link}">充值管理</a></li>
<li ><a href="{$class_link}">分类管理</a></li>
<li ><a href="{$aiimg_link}">AI图片</a></li>
<li ><a href="{$baidu_link}">百度接口</a></li>
<li ><a href="{$huoshan_link}">火山接口</a></li>

<li ><a href="{$swiper_link}">轮播管理</a></li>
<li ><a href="{$tab_link}">导航管理</a></li>
<li ><a href="{$user_link}">用户管理</a></li>

</ul>

	<div class="panel-body" style="margin-top:20px">
    <div role="form" >
      <input type="hidden" id="idd"  value="{$idd}">
      <div class="form-group" style="height:30px">
        <label for="firstname" class="col-sm-2 control-label">充值名称</label>
        <div class="col-sm-10">
          <input type="text" id="proname" class="form-control" value="{$config_db['proname']}">
        </div>
      </div>

 <div class="form-group" style="height:30px">
        <label for="firstname" class="col-sm-2 control-label">金额</label>
        <div class="col-sm-10">
          <input type="text" id="money" class="form-control" value="{$config_db['money']}">
        </div>
      </div>


	   <div class="form-group" style="height:30px">
        <label for="firstname" class="col-sm-2 control-label">每日可用</label>
        <div class="col-sm-10">
          <input type="text" id="permoney" class="form-control" value="{$config_db['permoney']}">
        </div>
      </div>

 <div class="form-group" style="height:30px">
        <label for="firstname" class="col-sm-2 control-label">总灵感数</label>
        <div class="col-sm-10">
          <input type="text" id="totalmoney" class="form-control" value="{$config_db['totalmoney']}">
        </div>
      </div>


	  <div class="form-group" style="height:30px">
        <label for="firstname" class="col-sm-2 control-label">有效期(天)</label>
        <div class="col-sm-10">
          <input type="text" id="time" class="form-control" value="{$config_db['time']}">填写有效多少天。
        </div>
      </div>

<div style="height:30px"></div>

	  <div class="form-group" style="height:30px">
        <label for="firstname" class="col-sm-2 control-label">排序</label>
        <div class="col-sm-10">
          <input type="text" id="pos" class="form-control" value="{$config_db['pos']}">
        </div>
      </div>

	    <div class="form-group" style="display:none">
        <label for="firstname" class="col-sm-2 control-label">缩略图(250宽度最佳)</label>
        <div class="col-sm-10">
            <div class="mui-input-cell"> {php echo tpl_form_field_image('s_pic',$s_pic,'')} </div>
        </div>
      </div>


	   <div class="form-group">
        <label for="firstname" class="col-sm-2 control-label">操作</label>
        <div class="col-sm-10">
          <button  class="btn btn-primary"  onClick="add()">提交</button>
        </div>
      </div>
	  </div> 

</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">
			分类列表
		</h2>
	</div>

		<!--内容-->
		<table class="table table-hover">
	
	<thead>
		<tr>
			<th>编号</th>
			<th>名称</th>
         <th>价格</th>
		 <th>灵感</th>
		 <th>有效期</th>
			<th>排序</th>
			<th>隐藏</th>
		</tr>
	</thead>
	<tbody>
		{loop $applist $index $itme}
		<tr>
			<td>{$itme['id']}</td>
			<td>{$itme['proname']}</td>
			<td>{$itme['money']}</td>

			<td>{$itme['totalmoney']}</td>
						<td>{$itme['time']}</td>
			
			<td>{$itme['pos']}</td>
	
			<td>  <select id="my{$itme['id']}" data-toggle="tooltip" data-placement="top"  onchange="my({$itme['id']},'my')">
  <option value ="0" {if $itme['my']!=1}selected{/if}>启用</option>
  <option value ="1" {if $itme['my']==1}selected{/if}>关闭</option>

</select></td>
			<td>
			<button  class="btn btn-primary"  onClick="edit({$itme['id']})">编辑</button>
			<button  class="btn btn-danger" onClick="del({$itme['id']})">删除</button>
		
			</td>
		</tr>
		{/loop}
	</tbody>
</table>
	
	</div>
</div>

{template 'common/footer'}

<script>
	require(['../../../addons/xz_aipt/template/libs/com.js?r={php echo mt_rand(1000,1000000)}'])

function del(idd){
		
 if(window.confirm('你确定？')){
        //继续执行
    }else{
		
return;
    }
$.post("{php echo $this->createWebUrl('pro')}", {
			
			type:'del',
			id:idd

		},function (data) {
			
				 var obj = JSON.parse(data);
				 	 if(obj['res']==1){
alertf('删除成功','提醒',function(){window.location.href="{php echo $this->createWebUrl('pro')}"+'&ptype='+GetQueryString('ptype') })
				 }else{
				   window.alertf(obj['res'])
				 }
				

	})
return;

	}

	function add(){

$.post("{php echo $this->createWebUrl('pro')}", {

			type:'add',
			id: $('#idd').val(),
proname: $('#proname').val(),
money: $('#money').val(),
			permoney: $('#permoney').val(),
			totalmoney: $('#totalmoney').val(),
			time: $('#time').val(),
			pos: $('#pos').val()
		},function (data) {
			
				 var obj = JSON.parse(data);
				 	 if(obj['res']==1){
alertf('操作成功','提醒',function(){window.location.href="{php echo $this->createWebUrl('pro')}"+'&ptype='+GetQueryString('ptype') })
				 }else{
				   window.alertf(obj['res'])
				 }
				

	})
return;

	}

	function edit(idd){

		window.location.href="{php echo $this->createWebUrl('pro')}"+"&type=edit&id="+idd+'&ptype='+GetQueryString('ptype')

	}
	

function GetQueryString(name) {
var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
var r = window.location.search.substr(1).match(reg);
if (r != null) {
return unescape(r[2]);
}
return null;
}

function showPopover(target, msg) {
	
    target.attr("data-original-title", msg);
    $('[data-toggle="tooltip"]').tooltip();
    target.tooltip('show');
    target.focus();

    //2秒后消失提示框
    var id = setTimeout(
        function () {
            target.attr("data-original-title", "");
            target.tooltip('hide');
        }, 2000
    );
}



function auto(idd){
window.location.href="{php echo $this->createWebUrl('auto')}"+"&classid="+idd+"&ptype="+"{php echo $_GPC['ptype']}"
}

function vip(idd){
	

	
	$.post("{php echo $this->createWebUrl('vip')}", {

			classid:idd,
			vip:$('#vip'+idd).val()

		},function (data) {
			
				 var obj = JSON.parse(data);
				 	 if(obj['res']==1){

 showPopover($("#vip"+idd),"操作成功")

				 }else{
				   window.alertf(obj['res'])
				 }
				

	})

}


function my(idd,str){
	
	$.post("{php echo $this->createWebUrl('mypro')}", {

			classid:idd,
			my:$('#my'+idd).val()

		},function (data) {
			
				 var obj = JSON.parse(data);
				 	 if(obj['res']==1){

 showPopover($("#my"+idd),"操作成功")

				 }else{
				   window.alertf(obj['res'])
				 }
				

	})

}
</script>


